# Required variables
project                           = "your-gcp-project-id"
databricks_account_id            = "your-databricks-account-id" 
databricks_google_service_account = "your-service-account@your-project.iam.gserviceaccount.com"

# Optional variables
region = "europe-west1"
prefix = "snd"

# Additional users (optional)
additional_users = [
  "colleague1@yourcompany.com",
  "colleague2@yourcompany.com",
  "analyst@yourcompany.com"
]

# User group assignments (optional)
user_group_assignments = {
  "colleague1@yourcompany.com" = "data_engineer"
  "colleague2@yourcompany.com" = "workspace_admin"
  "analyst@yourcompany.com"    = "data_analyst"
}